{% extends 'base.html' %}

{% block title %}
    Recetario
{% endblock %}

{% block content %}

<div class="row" style="margin-top:20px;margin-left:20px">
    <div class="col-6">
    <h2>Receta - {{receta.nombre}} ( {{receta.promedio}} ) </h2>
    <br>

    <div class="row">
        <div class="col-6">  

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ingredientes" role="tab" aria-controls="home" aria-selected="true">Ingredientes</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" id="pasos-tab" data-toggle="tab" href="#pasos" role="tab" aria-controls="contact" aria-selected="false">Pasos</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="ingredientes" role="tabpanel" aria-labelledby="home-tab">
            <br/>
                <form class="form-inline" action="{{ url_for('receta') }}">
                <input type="hidden" name="idreceta" value="{{receta.id}}" /> 
                <div class="row">
                    <div class="form-group mb-2 col-xs-2">
                    Para  .
                        <input class="text" name="pax" placeholder="1" autofocus="autofocus" type="text">    
                    </div>
                    . personas
                    <div class="form-group mb-2 col-xs-2">
                        <button class="btn btn-outline btn-info"> Buscar </button>
                    </div>
                </div>
                </form>               

            <table class="table table-hover table-dark">
                <tbody>
                    {% for ingrediente in ingredientes %}
                        <tr>    
                            <td> {{ingrediente.cantidad}} - {{ingrediente.unidad}} - {{ingrediente.nombre}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pasos" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-hover table-dark">
                <tbody>
                    {% for paso in pasos %}
                        <tr>    
                            <td> {{paso}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>

<form action="{{ url_for('guardarValoracion') }}" method="post">   
    <div class="row" style="margin-top:20px;margin-left:20px">
        <div class="col-4">
            Asignar una valoración del 1 al 5
        </div>
        <div class="col-4"> 
            <select name="valorUsuario">
                <option value="{{puntajes[0]}}" selected>{{puntajes[0]}}</option>
                {% for puntaje in puntajes[1:] %}
                <option value="{{puntaje}}">{{puntaje}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="idreceta" value="{{receta.id}}" />
            <button type="submit" class="btn btn-outline btn-info"> Guardar </button>
        </div>
    </div>
</form>
    {% endblock %}