{% extends 'base.html' %}

{% block title %}
    Recetario
{% endblock %}

{% block content %}

<div class="row" style="margin-top:20px;margin-left:20px">
    <div class="col-6">
    <h2>Recetas</h2>
    <p>Haga click en una receta para ver los detalles</p>
    <br>

    <div class="row">
        <form class="form-inline" action="{{ url_for('recetario') }}">
            <div class="col-8"> 
                <input class="form-control" name="busqueda" placeholder="Busque su receta" autocomplete="off" autofocus="autofocus" type="text">    
            </div>
            <div class="col-4">
                <button class="btn btn-outline btn-info"> Buscar </button>
            </div>
        </form>               
    </div>
    <br/>

    <div> 
    <a href="{{ url_for('ranking') }}">Ver Valoraciones</a>
    <br/> 
    </div>
    <br/>
    <table class="table table-hover table-dark">
        <thead>
            <tr>    
                <th scope="col">Receta</th>
                <th scope="col">Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for receta in recetas %}
                <tr>    
                    <td> 
                        <a href="/receta?idreceta={{receta.id}}">{{receta.nombre}}</a>
                    </td>
                    <td>{{receta.promedio}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}